<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../sio-user-file/sio-user-file.html">


<!--
`sio-user-panel`


@demo demo.html
-->

<dom-module id="sio-user-panel">
  <template>
    <style>
      :host {
        display: block;
        float:left;
        width: 1245px;
        height: 190px;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
                    0 1px 18px 0 rgba(0, 0, 0, 0.12),
                    0 3px 5px -1px rgba(0, 0, 0, 0.4);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 2px;
        margin-top: 30px;
        margin-left: 45px;
        z-index: 10;
      }

      #head {
        width: auto;
        height: 35px;
        border-bottom: 2px solid black;
      }

      #head span {
        font-size: 24px;
        padding-left: 20px;
      }

      #fileContain {
        width: auto;
        max-height: 150px;
        overflow-y: scroll;
      }

    </style>

    <div id="head">
      <span>[[user.attributes.name]]</span>  <span>|</span>     <span>download:  [[downloadSpeed]] MB/s</span>  <span>|</span>     <span>upload: [[uploadSpeed]] MB/s</span>
    </div>


    <div id="fileContain">
      <template id="sortTable" is="dom-repeat" items="[[_activeFiles]]">
        <sio-user-file
            file=[[item]]
        >
        </sio-user-file>
      </template>
    </div>


  </template>

  <script>
    Polymer({

      is: 'sio-user-panel',

      properties: {
        user: {
          type: Object,
        },
        files: {
          type: Object,
          observer: "filesOb"
        },
        client:{
          type: Object,
          observer: "setCheckers"
        },
        downloadSpeed:{
          type: Number,
          value: 0.0,
        },
        uploadSpeed:{
          type: Number,
          value: 0.0,
        }
      },
      setCheckers: function(torrentClient){
        setInterval(function(){
          this.uploadSpeed = (torrentClient.uploadSpeed/1000000).toFixed(1);
          this.downloadSpeed = (torrentClient.downloadSpeed/1000000).toFixed(1);
        }.bind(this), 1000);
      },
      filesOb: function(files){
        if(!files || files.length === 0){
          this._activeFiles = [];
          return;
        }
        this.files.__proto__.length = files.length;
        this._activeFiles = [];
        this._activeFiles = this.files.map(x=>x);

      },
      _test(t){
        console.log(t);
      }

    });
  </script>
</dom-module>
