<script src="http://spreaditout.pokornyf.com:2403/dpd.js" type="text/javascript"></script>

<script>

(() => {
  window.SioDeployd = Object.assign(window.SioDeployd || {}, {
    roomName:"",
    dispatch:"",
    init: function(dispatch){
      this.dispatch = dispatch;
    },
    joinToRoom: function(roomName,userId){
      dpd.rooms.get({name: roomName}, function(room,error){
          if(room.length===0){
            this.dispatch(Actions.createNewRoom(roomName));
          }else{
            this.enterToRoom(room[0],userId);
            //this.dispatch(Actions.setCurrentRoom(room[0]));
          }
      }.bind(this));



  /*    dpd.rooms.put("940b3217ab8e3896", {users: {aa: {inc: 8},dd: {inc: 5}}}, function(result, error) {
        console.get(result);
        console.get(error);

      });*/
    /*  var usersObj = {"id": "fsd",
                      "isOnline": true,
                      "name": "sdf",
                    };

      dpd.rooms.put("940b3217ab8e3896", {users: {$push: usersObj}}, function(result, error) {
          console.get(result);
          console.get(error);
        });

          dpd.rooms.put({"id":"940b3217ab8e3896", "users":{"$pull":{"id":"fsd"}}}, function(result, error) {
              console.get(result);
              console.get(error);
            });*/

    },
    enterToRoom: function(result,userID){
      var usersObj = {"id": userID,
                      "isOnline": true,
                      "name": userID,
                    };


      if(result.members!==undefined && result.members.find(x=>x.id==userID)){
        console.log("update")
        dpd.rooms.post({type:"setMemberOnline", name: result.id},{name: result.id}, function(result, error){
          console.log(result);
          console.log(error);
        }.bind(this));
      }else{
        console.log("add")
        dpd.rooms.post({type:"addMember",user: usersObj, name: result.id},{name: result.id}, function(result, error){
          console.log(result);
          console.log(error);
        }.bind(this));

      }





    },createRoom: function(roomName,userId){
      dpd.rooms.post({type:"createRoom"},{name: roomName}, function(result, error){
          if(result)
            this.enterToRoom(result,userId);
          //this.dispatch(Actions.setCurrentRoom(result));

      }.bind(this));
    },
    refreshData: function(){



    },
    deleteFile: function(){


    },
    addFile: function(){


    }
  });
})();








</script>
