<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-redux/polymer-redux.html">

<link rel="import" href="../../bower_components/polymer-cookie/polymer-cookie.html">

<link rel="import" href="store.html">
<link rel="import" href="actions.html">

<link rel="import" href="uid-generator.html">


<link rel="import" href="../sio-welcome-screen/sio-welcome-screen.html">
<link rel="import" href="../sio-work-screen/sio-work-screen.html">

<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<link rel="import" href="sio-torrent-default.html">
<link rel="import" href="parse.html">
<link rel="import" href="socketIO.html">


<!--<script src="https://cdn.peerjs.com/0.3/peer.min.js"></script>-->


<dom-module id="sio-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <app-location id="apploc" route="{{route}}" dwell-time="200"></app-location>
    <app-route
        route="{{route}}"
        pattern="/:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <iron-pages
      selected="[[model.screen]]"
      attr-for-selected="name"
      role="main"
      >

      <sio-welcome-screen
      name="welcome"
      on-join="joinToRoom"
      loading="[[model.viewsState.isLoadingActive]]"
      >
      </sio-welcome-screen>

      <sio-work-screen
      name="work"
      users="[[_usersArray]]"
      torrents="[[_torrentsArray]]"
      currentuser="[[_CurrentUser]]"
      room="[[model.persistent.currentRoom]]"
      loading="[[model.viewsState.isLoadingActive]]"
      on-addfile="_addFile"
      on-discardfile="_discardFile"
      on-downloadfile="_donwloadFile"
      >
      </sio-work-screen>


    </iron-pages>



  </template>
  <script src="dbContain.js"></script>
  <script>
    /**
     * @customElement
     * @polymer
     */
     Polymer({
       is: 'sio-app',

      behaviors: [ PolymerRedux(store) ],
        properties: {
          model: {
            type: Object,
            statePath: function(state) { return state; }
          },
          screen: {
            type: String,
            statePath: 'screen',
            observer: '_pageChanged'
          },
          currentRoom: {
            type: Object,
            statePath: 'persistent.currentRoom',
            observer: '_currentRoomChanged'
          },
          users:{
            type: Object,
            statePath: 'persistent.users',
            observer: '_updateUsers'
          },
          addFile:{
            type: Object,
            statePath: 'viewsState.addFile',
            observer: '_addFileToUser'
          },
          removeFile:{
            type: Object,
            statePath: 'viewsState.removeFile',
            observer: '_removeFileFromUser'
          },
          downloadingTorrent: {
            type: Object,
            statePath: 'viewsState.downloadingTorrent',
            observer: '_downloadingTorrentChanged'
          },
          torrents:{
            type: Array,
            value: [],
          },
          currentUser: {
            type: Object,
            statePath: 'viewsState.currentUser',
            observer: '_currentuserChanged'
          },
          files:{
            type: Object,
            statePath: 'persistent.files',
            observer: '_updateFiles'
          },
      },
      observers: [
        '_routeChanged(routeData.page, subroute.path)',
      ],
      connectedCallback() { super.connectedCallback(); this.apploc_ele = this.$.apploc; },
      ready() {
        this.initApp();
      },
      initApp(){
        window.relationId = this.getCookie("id");

        if(window.relationId===""){
          var newUID = generatePushID();
          this.setCookie("id",newUID,365);
          window.relationId = newUID;
        }

        if (!WebTorrent.WEBRTC_SUPPORT) {
          alert("WEBRTC is not supported");
        }
        SioParse.init(this.dispatch);
        SioTorrentClient.init(this.dispatch);
        SioSocketIO.init(this.dispatch);
      },
      _currentRoomChanged(room) {
        if(!room || typeof room === 'string')return;
        this.dispatch(Actions.changeScreen("work"));

      },
      enableAppLocation(enable) {
        if (!enable) {
          this.$.apploc.remove();
        } else {
          this.shadowRoot.appendChild(this.apploc_ele);
        }
      },
      _routeChanged: function(page, idPath) {
        const id = idPath.substr(1);

        if (page === 'work' && idPath) {
          if (this.currentRoom
              && this.currentRoom.id === id
              && this.screen === page) {
            return;
          }
          if(this.currentRoom === undefined){
            this.dispatch(Actions.setRoomName(id));
            this.initApp();
            SioParse.tryToJoin(id,window.relationId);
            //SioDeployd.joinToRoom(id,window.relationId);
          }
        }
      },
      _pageChanged: function(page){
        if (this.routeData.page !== this.model.screen) {
                this.set('routeData.page', this.model.screen);
              }

              // IDs
              if (this.model.screen === 'work'
                  && this.currentRoom
                  && this.subroute.path !== this.currentRoom.id
                  && this.subroute.path.substr(1) !== this.currentRoom.id)

              {
                this.set('subroute.path', this.currentRoom.attributes.name);
              }


              var resolvedPageUrl = this.resolveUrl(`../sio-${page}-screen/sio-${page}-screen.html`);
              this.importHref(resolvedPageUrl, null, this._showPage404, true);

      },
      _currentuserChanged: function(user){
        if(!user) return;
        if(this._CurrentUser===undefined)
          this._CurrentUser = Object.assign({},{db:user,files:[],client:SioTorrentClient.getClient()});
        else
          this._CurrentUser = Object.assign({},{db:user,files:this._CurrentUser.files,client:SioTorrentClient.getClient()});
        SioSocketIO.joinToRoom(user.id,this.currentRoom.id);
      },
      _addFileToUser: function(file){
        if(!file) return;
        this._CurrentUser.files.push(new Torrent(file));

        this._CurrentUser = Object.assign({}, this._CurrentUser);
      },
      _removeFileFromUser: function(id){
        if(!id) return;

        var torrentToDestroy = this._CurrentUser.files.find(x=>x.dbId==id);
        this._CurrentUser.files = this._CurrentUser.files.filter(x=>x.dbId!=id);
        this._CurrentUser = Object.assign({}, this._CurrentUser);
        SioTorrentClient.destroyTorrent(torrentToDestroy.torrent);
      },
      joinToRoom: function(event){
        SioParse.tryToJoin(event.detail.name,window.relationId);
        //SioDeployd.joinToRoom(event.detail.name,window.relationId);
      },
      setCookie: function(cname, cvalue, exdays){
        var d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        var expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
      },
      getCookie: function(cname){
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
      },
      _updateUsers: function(users){
        if(!users) return;
        var temp = users.filter(x=>x.attributes.isActive);
        var temp = temp.filter(x=>x.id != this.currentUser.id );
        this._usersArray = temp.map(function(x){return Object.assign({},{db:x})});
      },
      _updateFiles:  function(files){
        if(!files) return;

        for (let i=0; i<this._usersArray.length; i++) {
          this._usersArray[i].files = files.filter(x => x.attributes.parent.id === this._usersArray[i].db.id);
        }
        this._usersArray = this._usersArray.map(x=> Object.assign({},x));
      },
      _downloadingTorrentChanged: function(torrent){
        if(!torrent) return;
        this.torrents.push(torrent);
        this._torrentsArray = [];
        this._torrentsArray = this.torrents;

      },
      _addFile: function(event){
        SioTorrentClient.addFile(event.detail.file);
      },
      _discardFile: function(event){
        SioParse.deleteFile(event.detail.file.dbId);
      },
      _donwloadFile: function(event){
        this.enableAppLocation(false);
        this.dispatch(Actions.preparToDownload(event.detail.file.id));
        SioTorrentClient.downloadFile(event.detail.file);
      },
      isItMyFile: function(reqData){
        if(this.model.viewsState.userState.files!==undefined){
            var tempFilesArray = Object.keys(this.model.viewsState.userState.files).map(k => this.model.viewsState.userState.files[k]);
            var findFile = tempFilesArray.find(x=>x.id===reqData.requestFileId);
            if(findFile!==undefined){
              return findFile;
            }else {
              return 0;
            }
        }
      }
    });

  </script>
</dom-module>
