<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script>

const SOCKET_SERVER = 'https://spreaditout.pokornyf.com:7878/';

var socket = io(SOCKET_SERVER, {secure: true});

(() => {
  window.SioSocketIO = Object.assign(window.SioSocketIO || {}, {
    socket:{},
    dispatch:{},
    init(dispatch){
      this.socket = io(SOCKET_SERVER, {secure: true});
      this.dispatch = dispatch;

      this.socket.on('member changed', function(reqData){
        this.dispatch(Actions.refreshMembers());
      }.bind(this));


      this.socket.on('file changed', function(reqData){
        this.dispatch(Actions.refreshFiles());
      }.bind(this));





    },
    joinToRoom(userId,roomId){
      this.socket.emit('join', {userId:userId,roomId:roomId});
    }


  });
})();






</script>
