<script src="../../node_modules/redux/dist/redux.js"></script>
<script src="../../node_modules/redux-thunk/dist/redux-thunk.js"></script>
<!--<script src="../../node_modules/reselect/dist/reselect.js"></script>-->

<script src="reducer-persistent.js"></script>
<script src="reducer-view-state.js"></script>
<script src="reducers.js"></script>
<script>
  const store = Redux.createStore(
    appReducer,
    Redux.applyMiddleware(ReduxThunk.default)
  );
</script>