<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/vaadin-upload/vaadin-upload.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<link rel="import" href="../sio-member-panel/sio-member-panel.html">
<link rel="import" href="../sio-user-panel/sio-user-panel.html">

<script src="../../node_modules/drag-drop/dragdrop.min.js"></script>


<link rel="import" href="../my-icons.html">

<!--
`sio-work-screen`


@demo demo.html
-->
<dom-module id="sio-work-screen">
  <template>
    <style>
      :host {
        display: block;
      }
      :root {
            --my-custom-color: white;
            --paper-tab-ink: var(--my-custom-color);
            --paper-tabs-selection-bar-color: white;
      }
      body {
        background-color: #fafafa;
      }
      app-header {
        color: #fff;
        background-color: white;
        border-bottom: 4px solid black;
      }
      app-toolbar {
        font-size: 28px;
        height: 96px;
        color:black;
      }

      vaadin-upload{

      }



      table {
        padding: 0;
        border-collapse:collapse;
        background-color: white;
        min-width: 100%;
      }

      paper-icon-button {
        color: var(--secondary-text-color);
        margin: -8px;
      }

      th {
        text-align: left;
        font-weight: 500;
        color: var(--secondary-text-color);
      }

      td, th {
        border-bottom: 1px solid var(--divider-color);
        padding: 8px;
        text-align: center;
      }

      #fileInput{
        height: 72px;
        width:420px;
      }

      #second{
        font-size: 14px;
        float: left;
      }

      #fileArrea{
          width: 1326px;
          height: auto;
          margin: 0 auto;
          margin-top: 100px;
          padding-bottom: 40px;
      }

      #dragAndDrop {
        width: 200px;
        height: 100px;
        background-color: green;

      }


      iron-icon, div[suffix] {
  color: hsl(0, 0%, 50%);
  margin-right: 12px;
}

paper-input {
  max-width: 400px;
  margin: auto;
}

      paper-input{
        width: 250px;
      }

      #user{
        margin: 0 auto;
        margin-top: 50px;
        width: 1310px;
      }

      .OnDrop{
        border: 5px dashed #ccc;
      }





    </style>


      <app-header-layout has-scrolling-region fullbleed id="header">
        <app-header condenses reveals effects="waterfall">
          <app-toolbar>
            <div main-title>Spread It Out - <b>[[room.attributes.name]]</b></div><br>
            <div id="fileInput" class="OnDrop">


            </div>
          </app-toolbar>
        </app-header>


        <div id="fileArrea">



          <sio-user-panel
              user=[[currentuser.db]]
              files=[[_files]]
              client=[[currentuser.client]]
          >
          </sio-user-panel>

          <template id="sortTable" is="dom-repeat" items="[[users]]">
            <sio-member-panel
                user=[[item]]
                torrents=[[torrents]]
            >
            </sio-member-panel>
          </template>

        </div>

      </app-header-layout>

  </template>

  <script>
    Polymer({

      is: 'sio-work-screen',
      properties: {
        users: {
          type: Object,
          observer: "_usersChanged"
        },
        currentuser: {
          type: Object,
          observer: "_currentUserChanged"
        },
        room: {
          type: Object,
        },
        loading:{
          type: Boolean,
        },
        torrents:{
          type: Array,
        }
      },ready: function() {
        this._counter = 1;



        DragDrop(this, {
          onDrop: function (files, pos) {
            if (!files.length) {
                  alert('Please select a file!');
                  return;
            }

            for (var i = 0, f; f = files[i]; i++) {
              this.fire('addfile',{name: f.name,path:f.size,file: f});
           }
          }.bind(this),
          onDragEnter: function () {},
          onDragOver: function () {
            this.$.header.classList.add('OnDrop');
          }.bind(this),
          onDragLeave: function () {
            this.$.header.classList.remove('OnDrop');
          }.bind(this)
        }).bind(this);
      },
      _usersChanged: function(users){

      },
      _currentUserChanged: function(current){
        this._files = [];
        this._files = current.files;
      },
      _onDownloadTap: function(event){
        this.fire('downloadfile',{file: event.model.__data__.item});

      }
      ,_test: function(t){
        console.log(t.files);
      }

    });
  </script>
</dom-module>
