<link rel="import" href="../../bower_components/polymer/polymer.html">

<!--
`sio-welcome-screen`


@demo demo.html
-->

<dom-module id="sio-welcome-screen">
  <template>
    <style>
    :host {
      display: block;
    }
    :root {
          --my-custom-color: white;
          --paper-tab-ink: var(--my-custom-color);
          --paper-tabs-selection-bar-color: white;
    }
    body {
      background-color: #fafafa;
    }
    app-header {
      color: #fff;
      background-color: white;
      border-bottom: 4px solid black;
    }
    app-toolbar {
      font-size: 28px;
      color:black;
    }
    #loggin{
      border: 4px solid black;
      width: 500px;
      height: 250px;
      margin: 0 auto;
      margin-top: 100px;
    }

    #loader {
      position: absolute;
      left: 50%;
      top: 10%;
      z-index: 1;
      width: 200px;
      height: 200px;
      margin: -75px 0 0 -75px;
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }

    paper-input{
      width: 300px;
    }
    paper-button{
      float: right;
      margin-top: 10px;
    }

    .container{
      width: 400px;
      margin: 0 auto;
      margin-top: 50px;
    }

    </style>

    <div id="loader" hidden=[[!loading]]></div>

    <app-header-layout has-scrolling-region fullbleed>
      <app-header condenses reveals effects="waterfall">
        <app-toolbar>
          <div main-title>Spread It Out</div>
        </app-toolbar>
      </app-header>


      <div id="loggin">
        <div class="container">
           <paper-button on-tap="_joinTo" raised class="indigo">Enter</paper-button>
           <paper-input
              value={{join}}
              invalid="[[_isWrong]]"
              on-keydown="_onKeyDown"
              required
              error-message="Name can not be empty !"
              always-float-label
              label="Name of the room"
            >
            </paper-input>
        </div>
      </div>


    </app-header-layout>




  </template>

  <script>
    Polymer({

      is: 'sio-welcome-screen',

      properties: {

        join: {
          type: String
        },
        loading:{
          type: Boolean,
        }

      },
      ready: function() {
        this._isWrong=false;
      },
      _onKeyDown: function(event) {
        if (event.which === 13) {
          // Enter
          this._joinTo();
        }
      },
      _joinTo: function(){
        if(this.join.length>0){
          this.fire('join',{name: this.join});
        }else{
          this._isWrong=true;
        }

      }

    });
  </script>
</dom-module>
