<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../sio-file-item/sio-file-item.html">


<!--
`sio-member-panel`


@demo demo.html
-->

<dom-module id="sio-member-panel">
  <template>
    <style>
      :host {
        display: block;
        float:left;
        width: 600px;
        height: 350px;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
                    0 1px 18px 0 rgba(0, 0, 0, 0.12),
                    0 3px 5px -1px rgba(0, 0, 0, 0.4);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 2px;
        margin-top: 30px;
        margin-left: 45px;
            z-index: 10;
      }

      #head {
        width: auto;
        height: 35px;
        border-bottom: 2px solid black;
      }

      #head span {
        font-size: 24px;
        padding-left: 20px;
      }

      #fileContain {
        width: auto;
        max-height: 350px;
        overflow-y: scroll;
      }

    </style>
    <div id="head">
      <span>[[user.db.attributes.name]]</span>
    </div>

    <div id="fileContain">
      <template id="sortTable" is="dom-repeat" items="[[_activeFiles]]">
        <sio-file-item
            file=[[item]]
            torrents=[[torrents]]
        >
        </sio-file-item>
      </template>
    </div>



  </template>

  <script>
    Polymer({

      is: 'sio-member-panel',

      properties: {
        user: {
          type: Object,
          observer: "userSet"
        },
        torrents:{
          type: Array,
        }

      },
      userSet: function(user){

        if(!user.files || user.files.length === 0){
          this._activeFiles = [];
          return;
        }
        user.files.__proto__.length = user.files.length;
        this._activeFiles = [];
        this._activeFiles = user.files.map(x=>x);
      }

    });
  </script>
</dom-module>
