<link rel="import" href="../../bower_components/polymer/polymer.html">

<!--
`sio-user-file`


@demo demo.html
-->

<dom-module id="sio-user-file">
  <template>
    <style>
      :host {
        display: block;
        width: 1180px;
        margin-left: 20px;
        height: 50px;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
                    0 1px 18px 0 rgba(0, 0, 0, 0.12),
                    0 3px 5px -1px rgba(0, 0, 0, 0.4);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 2px;
        margin-bottom: 18px;
        margin-top: 18px;
      }

      .right {
        float: right;
      }
      h2{
        padding: 10px;

      }
    </style>
      <div class="right">
        <span>peers: [[_peers]]</span>         <span>|</span>
        <span>uploadSpeed: [[_uploadSpeed]] MB/s</span>  <span>|</span>
        <paper-icon-button icon="icons:trash-bin" title="smazat soubor" on-tap="_onDiscardTap">
        </paper-icon-button>
      </div>
      <h2>[[file.name]]</h2>

  </template>

  <script>
    Polymer({

      is: 'sio-user-file',
      properties: {
        file: {
          type: Object,
          observer: "_setCheckers",
        },
      },
      ready: function() {
        this._peers = 0;
        this._uploadSpeed = 0;
      },
      _setCheckers: function(file){
        setInterval(function(){
          this._uploadSpeed = (file.torrent.uploadSpeed/1000000).toFixed(1);
          this._peers = file.torrent.numPeers;
        }.bind(this), 1000);
      },
      _onDiscardTap: function(event){
        this.fire('discardfile',{file: this.file});
      },

    });
  </script>
</dom-module>
