<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../sio-file-item/sio-file-item.html">


<!--<script type="text/javascript" src="http://fgnass.github.com/spin.js/spin.js"></script>-->


<!--
`sio-file-item`


@demo demo.html
-->

<dom-module id="sio-file-item">
  <template>
    <style>
      :host {
        display: block;
        width: 530px;
        margin-left: 20px;
        height: auto;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
                    0 1px 18px 0 rgba(0, 0, 0, 0.12),
                    0 3px 5px -1px rgba(0, 0, 0, 0.4);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 2px;
        margin-bottom: 18px;
        margin-top: 18px;
      }

      #fileHead{
        width: 530px;
        height: 39px;
        position: relative;
      }

      #headContain{
      width: 530px;
       position: absolute;
       text-align: center;

      }
      #HeadBar{
       height: 39px;
       background-color: green;
       width: 0;
      }

      #fileHead span{
        margin: 10px;
        font-size: 22px;
        line-height: 150%;
      }

      #fileContain{
        border-top: 1px solid black;
        width: 530px;
        height: 39px;
        text-align: center;
      }

      #fileContain span{
        margin: 20px;
        line-height: 200%;
        font-size: 20px;
      }


      .right{
        float: right;
      }
    </style>

    <div id="fileHead">


      <div id="headContain">
        <template is="dom-if" if="{{_isAvaible(state)}}">
          <paper-icon-button
               icon="icons:arrow-downward"
               title="stáhnout soubor"
               class="right"
               on-tap="_onDownloadTap">
          </paper-icon-button>
        </template>

      <template is="dom-if" if="{{_isDownloading(state)}}">


       <paper-icon-button
               icon="icons:loading"
               title="stáhnout soubor"
               class="right"
               >
          </paper-icon-button>
        </template>

        <template is="dom-if" if="{{_isDownloaded(state)}}">
          <paper-icon-button
               icon="icons:done"
               title="stáhnout soubor"
               class="right"
               >
          </paper-icon-button>
        </template>
        <span>[[file.attributes.name]]</span>
        <span>[[_getMB(file.attributes.size)]] MB</span>


      </div>
      <div id="HeadBar"></div>
    </div>

    <template is="dom-if" if="{{_isDownloading(state)}}">
      <div id="fileContain">
        <span>[[_downloaded]]</span>/<span>[[_getMB(file.attributes.size)]] MB</span> - <span>[[_downloadSpeed]] MB ([[_timeRemaining]] s)</span>
      </div>
    </template>


  </template>

  <script>
    Polymer({

      is: 'sio-file-item',

      properties: {
        file: {
          type: Object,
        },
        state:{
          type: Number,
          value: 0,
        },
        torrent:{
          type: Object,
          value: null,
          observer: "_torrentSet",
        },
        progress:{
          type: Number,
          value: 0,
          observer: "_progresChanged",
        },
        torrents:{
          type: Array,
          observer: "_torrentsChanged",
        }
      },
      ready: function() {
        this._downloaded = 0.0;
        this._downloadSpeed = 0.0;
        this.progress = 0;
        this._timeRemaining = 0;
      },
      _torrentsChanged: function(torrents){
        if(torrents.length==0)return;

        this.torrent = torrents.find(x=>x.dbId===this.file.id);
      },
      _torrentSet: function(torrent){
        if(torrent === undefined || !torrent) return;

        this.refreshIntervalId = setInterval(function(){
          this._downloaded = (this.torrent.downloaded/1000000).toFixed(2);
          this._downloadSpeed = (this.torrent.downloadSpeed/1000000).toFixed(1);
          this.progress = this.torrent.progress;
          this._timeRemaining = (this.torrent.timeRemaining/1000).toFixed(0);
        }.bind(this), 300);
      },
      _progresChanged: function(progress){
        this.$.HeadBar.style.width = this.progress*100+"%";
        if(this.progress==1){
          this.state = 2;
          clearInterval(this.refreshIntervalId);
        }

      },
      _onDownloadTap: function(event){
        this.state = 1;
        this.fire('downloadfile',{file: this.file});

      },
      _getMB: function(value){
        return (value/1000000).toFixed(2);
      },
      _isAvaible: function(value){
        return value==0;
      },
      _isDownloading: function(value){
        return value==1;
      },
      _isDownloaded: function(value){
        return value==2;
      },




    });
  </script>
</dom-module>
